.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: linear-gradient(20deg, #aedfb2 0%, #aedfb2 33%, #01afc7 100%);
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
  text-decoration: none;

  &:hover {
    transform: translateY(-10px) rotate(-3deg);
  }

  .image {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
  }

  .caption {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;

    .name {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    .species {
      position: absolute;
      top: 0;
      right: 1em;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      color: #ffffff;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', 'Open Sans', helvetica, sans-serif;
      letter-spacing: 0.1em;
      padding: 0.25em;
      line-height: 1;
      border-radius: 2px;
      background: #01afc7;
    }

    .details {
      margin: 10px;

      .detailsItem {
        margin-right: 5px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
